<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <h3>This app was created by Cristobal Heiss using <strong>Mapbox</strong> and <strong>Darksky</strong> APIs</h3>
    <img class="portrait" src="./img/foto-perfil-web.jpg">
    <p>
      Hi, Im Cristobal. Currently I'm a Software Engineer Apprentice in Holiday Check. I've always been front end enclined, so this is me learning to use NodeJS.
    </p>
    <p>
      In case you were wondering, yes, "help" and "about" pages are just means to practice routing, because the app is very self explanatory, lol.
    </p>
  </div>
  {{>footer}}
</body>

</html>