<footer>
  <p>Made by {{name}}</p>
  <p> <a href="https://twitter.com/Cristobalheiss">Twitter</a> <a href="https://github.com/Ceheiss">Github</a><a href="https://codepen.io/ceheiss/">Codepen</a></p>
</footer>
